.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://w7.pngwing.com/pngs/1014/126/png-transparent-pokeball-illustration-pokemon-go-pokeball-trademark-logo-nintendo-3ds.png');
  background-size: cover;
}
